<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Editor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>PDF Editor</h1>
        <form id="mergeFile" action="/merge" method="post" enctype="multipart/form-data">
            <label for="mergePdfFiles">Merge PDF Files:</label>
            <input type="file" id="mergePdfFiles" name="files" multiple accept=".pdf" required>
            <button type="submit">Merge</button>
        </form>
        <form id="splitFile" action="/split" method="post" enctype="multipart/form-data">
            <label for="splitPdfFile">Split PDF File:</label>
            <input type="file" id="splitPdfFile" name="file" accept=".pdf" required>
            <button type="submit">Split</button>
        </form>
        <div id="result"></div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>